{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Welcome {{ user.username }}!
<a href='/updateuser' class="btn btn-primary" id="btn-update-profile" >Update Profile </a>    
</h2>
<div>
    <h5 id="balance-header"> User Balance: {{ user.balance }}</h5>
    <h5 id="shipping-header">Current Shipping Address: {{ user.shipping_address }}</h5>
    <h5 id="postal-header">Current Postal Code: {{ user.postal_code }}</h5>
</div>
<h3>Owned Products:
<a href='/createproduct' class="btn btn-primary" id="btn-create-product" >Create Product </a>
</h3>
<div id="owned_products">
    {% for product in owned_products %}
    <div>
        <h5 id="{{ product.title }}">Title: {{ product.title }} | Price: ${{ product.price }} | Last Modified Date: {{ product.last_modified_date }} <a href="/updateproduct?pName={{ product.title }}&pLastdate={{ product.last_modified_date }}">update</a></h5>
    </div>
    {% endfor %}
</div>
<h3>Purchase History:
<a href='/listings' class="btn btn-primary" id="btn-available-products" >Available Products</a>
</h3>
    <div id="bought_products">
        {% for product in bought_products %}
        <div>
            <h5 id="{{ product.title }}">Title: {{ product.title }} | Price: ${{ product.price }} | Last Modified Date: {{ product.last_modified_date }}</h5>
        </div>
        {% endfor %}
    </div>
<a href='/logout' class="btn btn-primary" id="btn-logout" >Logout</a>
{% endblock %}