{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Place Order{% endblock %}</h1>
{% endblock %}

{% block content %}
<h4 id='message'>{{message}}</h4>
<form method="post">
  <div class="form-group">
    <h5 id='product_title'>Title: {{ pTitle }}</h5>
    <h5 id='product_price'>Price: {{ pPrice }}</h5>
    <br>
    <input class="btn btn-primary" type="submit" value="Confirm">
    <a href='/listings' class="btn btn-primary" id="btn-submit" >Cancel</a>
  </div>
</form>
{% endblock %}
